{% load static %}
<!DOCTYPE html>
<html lang="ru" >

<div class="buttons" id="buttons" style="z-index: 4;">

<p style="display: inline-block;">
  <a href="https://www.youtube.com/@nyaderator" class="button button-youtube">YOUTUBE</a>
</p>
<p style="display: inline-block;">
  <a href="https://vk.com/nyaderator" class="button button-vk">VK</a>
</p>
<p style="display: inline-block;">
  <a href="https://steamcommunity.com/id/NyaDerator/" class="button button-steam">STEAM</a>
</p>
<p style="display: inline-block;">
  <a href="https://t.me/Nyaderator" class="button button-telegram">TELEGRAM</a>
</p>
</div>
  <p> <img src="..\..\static\images\avatar.png" class="avatar"> </p>


<head>

  <meta charset="UTF-8">
  <title>Nyaderator</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/card.css' %}">

  <p style="font-size:16px; position: absolute; left: 1765px; top: 965px; color: #fff;">By Nyaderator</p>

</head>
<body>
<canvas id="canvas"></canvas>
  <script  src="../../static/js/card.js"></script>
</body>

</html>
